*
{
    padding: 0;
    margin: 0;
}

body {
	background: white;
	font-family: "Georgia", serif;
}

header{
	background-color: #22aed1;
	border-bottom-style: solid;
	border-bottom-width: 2px;
	border-bottom-color: #1c77c3;
}

#mainimg{
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 45%;
    height: auto;
    max-width: 450px;
}


ul.toolbar {
	font-family: "Helvetica", sans-serif;
	list-style-type: none;
	margin: 0px;
	padding: 10px 0px;
	position: fixed;
	height: 100%;
	width: 70px;
	background-color: #f2f3f4;
}

ul.class {
	list-style-type: square;
	padding-right: 8px;
}

li a {
	display: block;
	color: black;
	padding: 8px 12px;
	text-decoration: none;

}

li a:hover {
	background-color: #1c77c3;
	color:white;
}

main {
	background: white;
	position: relative;
	height:100%;
	margin-left: 70px;
	padding: 10px;
	overflow: scroll
}

.characterimg{
	float:right;
	border-style: solid;
	border-width: 2px;
	border-color: grey;
	margin-left: 5px;	
}

h1, h2 {
	font-family: "Helvetica", sans-serif;
}