body {
	background: #f8f9f9;
	font-family: "Georgia", serif;

}

#mainimg{
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 45%;
    height: auto;
}

header{
	border-bottom-style: solid;
	border-bottom-width: 2px;
	border-bottom-color: black;
} 

ul.toolbar {
	list-style-type: none;
	margin: 0;
	padding: 0;
	position: fixed;
	height: 100%;
	width: 10%;
	background-color: #f2f3f4;
}

li a {
	display: block;
	color: black;
	padding: 8px;
	text-decoration: none;
}


.maincontent {
	margin-left: 10%;
	padding: 10px;
}