body {
	background: #1c77c3;
	font-family: "Georgia", serif;

}

header{
	background-color: #22aed1;
	border-bottom-style: solid;
	border-bottom-width: 2px;
	border-bottom-color: #1c77c3;
}

#mainimg{
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 45%;
    height: auto;
}

ul.toolbar {
	font-family: "Helvetica", sans-serif;
	list-style-type: none;
	margin: 0;
	padding: 10px 0px;
	position: fixed;
	height: 100%;
	width: 10%;
	background-color: #f2f3f4;
}

li a {
	display: block;
	color: black;
	padding: 8px 10px;
	text-decoration: none;

}

li a:hover {
	background-color: #1c77c3;
	color:white;
}

.maincontent {
	background: #fffaff;
	margin-left: 10%;
	padding: 10px;
	margin-right:8px;
	position:fixed;
	height: 100%;
}

h1, h2 {
	font-family: "Helvetica", sans-serif;
}